{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Voipain</title>
        <link rel="stylesheet" href="{% static 'voipain/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'voipain/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'voipain/css/templatemo-blue.css' %}">
    </head>
    <body>
        <section class="container">
        	<div class="row">
        		<div class="col-md-6 col-sm-8">
        			<div class="education">
        				<h2 class="white">Voire les demandes</h2>
        				<div class="education-content">
                            <form class="post" action="/newDemand" method="post">{% csrf_token %}
                                <label for="name">Prénom & nom : </label><br><input type="text" name="name" value=""required><br>
                                <label for="adress">Adresse : </label><br><input type="text" name="adress" value="" required><br>
                                <label for="numberBaguette">Nombre de baguettes : </label><br><input type="number" name="numberBaguette" value="1"><br>
                                <br><input type="submit" name="submit" value="Envoyer une demande">
                            </form>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>

        <script src="{% static 'voipain/js/jquery.js' %}"></script>
        <script src="{% static 'voipain/js/bootstrap.min.js' %}"></script>
        <!-- <script src="{% static 'voipain/js/custom.js' %}"></script> -->
    </body>
</html>
